# ====== Router ======

ROUTER_SSID=
ROUTER_WIFI_PASSWORD=
ROUTER_PASSWORD=
ROUTER_PPPOE_USERNAME=
ROUTER_PPPOE_PASSWORD=

ROUTER_MINI_MAC=
ROUTER_AP_MAC=
ROUTER_SMART_TV_MAC=

ROUTER_ENABLE_SQM=

ROUTER_AP_MAC=
ROUTER_AP_PASSWORD=

# ====== Homepage ======

HOMEPAGE_HOME_ASSISTANT_KEY=
HOMEPAGE_JELLYFIN_KEY=
HOMEPAGE_IMMICH_KEY=
