@import "colors.scss";

* {
  all: unset;

  color: $pink;
  font-family: FiraCode Nerd Font;
  border: none;

  .bar {
    background-color: $bg;
  }

  label {
    color: $pink;
  }

  powermenu {
    background-color: $green;
  }

  button {
    transition-duration: 0.1s;
    background-color: $surface0;
    padding: 5px;
    border-radius: 8px;
  }

  button:hover {
    background-color: $surface1;
  }

  button:active {
    background-color: $surface2;
  }


}

