* {
    font-family: "FiraCode Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#clock,
#network,
#pulseaudio,
#tray,
#workspaces,
#window,
#language,
#custom-power {
    padding: 4px 6px;
    margin: 5px;
    border-radius: 5px;
    background: #1E1E2E;
    color: #CBA6F7;
}

#window {
    margin-left: 20px;
}

window#waybar.empty #window {
    background-color: transparent;
}

#workspaces button {
    padding: 0;
    border-radius: 50%;
    margin: 0 2px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background-color: #CBA6F7;
    color: #1A1B26;
}

#workspaces button.urgent {
    color: #E8748C;
}

#network.disconnected {
    color: #E8748C;
    border: 2px solid #E8748C;
}

#tray,
#workspaces {
    border: 2px solid #CBA6F7;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #E8748C;
}

#keyboard-state {
    background: #71CDC3;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state>label {
    padding: 0 5px;
}

#keyboard-state>label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#pulseaudio {
    color: #D2A569;
}

#network {
    color: #76BFED;
}

#language {
    color: #70CDC2;
}

#custom-power {
    color: #F2758D;
    margin-right: 20px;
}

#custom-terminal,
#custom-browser {
    font-size: 20px;
    margin-left: 5px;
}

#custom-files {
    font-size: 17px;
}

#custom-apps {
    font-size: 17px;
    margin-left: 3px;
    margin-right: 5px;
    color: #CBA6F7;
}
