@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;


* {
    border: none;
    border-radius: 7px;
    font-family: "FiraCode Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #000000;
    border-radius: 7px;
    border-width: 2.5px;
    border-style: solid;
    border-color: #8aadf4;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#workspaces button {
    color: #313244;
    margin-right: 5px;
    padding-right: 0px;
    padding-left: 0px;
}

#workspaces button.active {
    color: @lavender;
}

#workspaces button.focused {
    color: @lavender;
    background: #eba0ac;
    border-radius: 7px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 7px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 7px;
}

#cpu,
#memory,
#network,
#disk,
#window,
#clock,
#battery,
#pulseaudio,
#pulseaudio.microphone,
#bluetooth,
#custom-notifications,
#custom-updates,
#custom-power,
#language,
#workspaces,
#tray,
#backlight,

#backlight {
    background: @crust;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 7px 7px 7px 7px;
    margin-right: 5px;
    margin-left: 5px;

}

#tray {
    border-radius: 7px;
    margin-right: 7px;
}

#workspaces {
    background: #000000;
    border-radius: 7px;
    margin-left: 5px;
    padding-right: 0px;
}

#window {
    border-radius: 7px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #a6e3a1;
    border-radius: 7px 7px 7px 7px;
    margin-right: 3px;
    margin-left: 3px;
}

#network {
    color: #f9e2af;
    border-radius: 7px 7px 7px 7px;
    margin-right: 5px;
}

#custom-notifications {
    color: #f9e2af;
    border-radius: 7px 7px 7px 7px;
    padding-left: 9px;
    padding-right: 15px;
    margin-left:  2px;
    margin-right: 2px;

}

#custom-updates {
    color: #89b4fa;
    border-radius: 7px 7px 7px 7px;
    border-left:  0px;
    border-right: 0px;
    margin-left:  2px;
    margin-right: 2px;
}

#custom-player {
 color: #cba6f7;
 border-radius: 7px 7px 7px 7px;
 padding-left: 4px;
 margin-left:  5px;
 margin-right: 5px;
}

#memory {
    color: #89b4fa;
    border-radius: 7px 7px 7px 7px;
    margin-left: 5px;
}

#disk {
    color: #a6e3a1;
    border-radius: 7px 7px 7px 7px;
    margin-left: 5px;
}


#bluetooth {
  color: #89b4fa;
  border-radius: 7px 7px 7px 7px;
  margin-left: 5px;
  margin-right: 5px;
} 

#pulseaudio {
  color: #89b4fa;
  border-radius: 7px 0px 0px 7px;
  margin-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-radius: 0px 7px 7px 0px;
    margin-left: 0px;
}

#battery {
    color: #a6e3a1;
    border-radius: 7px 7px 7px 7px;
    margin-right: 5px;
    margin-left: 5px;
}

#battery.critical:not(.charging) {
  background-color:           #F53C3C;
  color:                      #EEEEEE;
  animation-name:             blink;
  animation-duration:         0.5s;
  animation-timing-function:  linear;
  animation-iteration-count:  infinite;
  animation-direction:        alternate;
}
